body {
  background-color: lightpink;
}

.center {
  text-align: center;
  border: 3px solid green;
  padding: 40px;
}

.p1 {
  font-family: Arial;
}

h1{
  font-family: Helvetica;
  word-spacing: 22px;
  color: orangered;
  text-align: center;
  padding: 25px 40px 75px 100px;
}

h2 {
  color: white;
  text-align: center;
  font-size: 35px;
  /*text-shadow: 2px 2px;*/
  font-family: Lucida Console;

}